<!-- home.component.html -->

<div class="home-container">
  <div class="header">
    <h1>Bienvenido a MyTask</h1>
    <p>Tu solución todo en uno para la gestión de tareas y recordatorios.</p>
    <a routerLink="/registro" class="cta-button">Comienza Ahora</a>
  </div>

  <div class="features">
    <div class="feature">
      <i class="material-icons">check_circle</i>
      <h2>Tareas por Hacer</h2>
      <p>Crea y gestiona tus tareas pendientes de manera eficiente.</p>
    </div>


    <div class="feature">
      <i class="material-icons">timeline</i>
      <h2>Seguimiento</h2>
      <p>Visualiza tu progreso y mantén el control de tus actividades.</p>
    </div>
  </div>
</div>
